html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    color: whitesmoke;
}

/* ===================================================================================== */
/*                                       NAVBAR                                          */
/* ===================================================================================== */

 .navbar-expand-md .navbar-nav .nav-link {
    padding-left: 3rem;
    padding-right: 3rem ;
    transition: all 0.2s
}


.navbar-brand {
    font-size: 2.4rem;
}

.nav-link:hover {
    transform: scale(1.2) rotate(3deg) translateY(-3px);   
}

.navbar-logo {
    border-radius: 50%;
    transition: all .2s;
}

.navbar-logo:hover {    
    transform: scale(1.3);

}

.bg-light {
    opacity: 0.8;
}

/* =============================================================================== */
/*                                 ABOUT SECTION                                   */
/* =============================================================================== */

.container {
    padding: 5rem 1vw;
    text-align: center;
}

.heading_container {
    padding: 5rem 0;
    font-size: 6.6rem;
    font-weight: 300; 
    letter-spacing: 2px;
}

.text_container {
    padding: 3rem 0;
    line-height: 1.7;
    font-weight: 400;
    color: #d7d7d7;
}

.section_about {
    background-color: #333;
    padding-bottom: 20rem;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/zany-jadraque-571205-unsplash.jpg);
    background-size: cover;
}

/* ===================================================================================== */
/*                                 PROJECT SECTION                                       */
/* ===================================================================================== */


.section_projects {
    background-image: linear-gradient(to right, rgb(244, 32, 39), rgb(165, 35, 40), rgb(244, 32, 39));
}

.row {
    width: 100%;
    height: 100%;
    /* position: relative; */
}

.col-1-of-2 {
    width: calc((100% - 5rem)/2);
    height: 100%;
    display: inline-block; 
    float: left;
    vertical-align: middle;
}

.odd { 
    margin-right: 5rem;
}

.project_img {
    height: 90%;
    width: 90%;
    vertical-align: middle;
    border-radius: 3px;
    box-shadow: 0 2rem 3rem rgba(26, 6, 6, 0.3);
    border: 3px solid #777;
    transition: all .2s;
    margin: 2rem 0;
}

.project_img:hover {
    transform: scale(1.2) ;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    border: 1px solid #777; 
}

.img-text {
    margin: 2rem 0;
    display: inline-block;
}


/* ================================================================================= */
/*                              CONTACT SECTION                                      */
/* ================================================================================= */

.section_contact {
    padding-bottom: 25rem;
    background-color: #333;
}

.icon_list {
    list-style: none;
}

.icon_item {
    display: inline-block;
    padding: 0 3rem;
    font-size: 3.2rem;
}

.fab {
    color: whitesmoke;
    transition: all 0.2s;
}

.fab:hover {
    transform: scale(1.5) rotate(3deg);
}

/* ======================================================================================*/
/*                                       FOOTER SECTION                                  */     
/* ======================================================================================*/  


.footer_container {
    font-size: 1.6rem;
    height: 8rem;
    padding: .5rem; 
    text-align: center;
    color: #333;
    border-top: 1rem solid #777;
    background-color: #f1f1f1;
}

.footer_text {
    margin-bottom: 0; 
}

/* ===================================================================================== */
/*                                     MEDIA QUERIES                                     */
/* ===================================================================================== */


@media only screen and (max-width: 900px) {

    .container {
        padding: 4rem 1vw;
    }
    .col-1-of-2 {
        width: 100%;
    }

    .project_img {
        width: 75%;
        height: auto;
    }

    .odd {
        margin-right: 0;
    }

    .icon_list {
        padding: 0;
    }

    .icon-item {
        padding: 0 .8rem;
    }
}
